/* 色変更用 */
body,h1,h2,h3,h4,h5 {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
}

.w3-third img{margin-bottom: 0px; opacity: 0.5; cursor: pointer; filter: grayscale(100%);}
.w3-third img:hover{opacity: 1; filter: none;}

body {
    background-color: #ffffff;
    }

#svglogo {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}

#headlogo {
  display: inline-block;
  width: 12%;
  vertical-align: middle;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 10%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.divlink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

.text {
  font-family: "Merriweather", sans-serif;
  line-height: 2;
}

.ux-menu {
  letter-spacing: 1.5px;
  font-weight: 600;
}

.ux-close {
  font-size: 27px;
  font-weight: bold;
  padding-top: 40px;
}

.ux-logo {
  padding-left: 5px;
}

.nihongo {
    font-family: "Open Sans", "Noto Sans JP", sans-serif;
    font-weight: normal;
  }

/* SVG */
.sankaku {fill: #F5E905;}
.shikaku {fill: #D10026}
.u {fill: #159AD1;}

#svglogo:hover .sankaku{fill: #DADEDF;}
#svglogo:hover .shikaku{fill: #DADEDF;}
#svglogo:hover .u{fill: #DADEDF;}

.aa-black {background-color: #0d1318;}

.print-show {display:none;}


/* Dark theme
@media (prefers-color-scheme: dark) {
  body {background-color: #0d1318;}
  .sankaku {fill: #FFFF00;}
  .shikaku {fill: #FF0000;}
  .u {fill: #0000FF;}
}
*/

@media only screen and (max-width: 750px) {
  #bio-text1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  #reki1, #rekishi {
    padding:0;
  }
  .w3-third, .w3-row-padding {padding:0;}
}
@media only screen and (max-width: 1600px) {
  #profile1 {display: block;}
  #profile2 {display: none;}
  #profile3 {display: none;}
  #reki1 {display: block;}
  #reki2 {display: none;}
}
@media only screen and (min-width: 1600px) {
  #profile1 {display: none;}
  #profile2 {display: block;}
  #profile3 {display: none;}
  #reki1 {display: none;}
  #reki2 {display: block;}
}
@media only screen and (min-width: 2200px) {
  #profile1 {display: none;}
  #profile2 {display: none;}
  #profile3 {display: block;}
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#profile1 img {
    width: 650px;
}

#profile2 img {
    width: 1100px;
}

#profile3 img {
  width: 1450px;
  margin-top: -30px;
    float: right;
    height: auto;
    border-radius: 3px;
    padding-bottom: 80px;
    padding-right: 80px;
    padding-left: 80px;
}

#bio-text3 {
  padding-top: 30px;
  width: 1000px;
  padding-left: 80px;
}

.reki-col {
    list-style-type: none;
}

.a, .b, .c, .d {
    line-height: 1.5;
 }
 .c {
   padding-bottom: 10px;
 }

 .d {
     padding-bottom: 28px;
   }

   /* Print */
   @media print {
     .print-show {display: block;}
     .print-hide {display: none;}
     .text {
       font-family: sans-serif;
       line-height: 1.3;
     }
     .print-show {
       padding: 10px;
     }
     #rekishi {
       float: left;
       display: flex;
       justify-content: space-between;
       padding:0;
     }
     ul.reki-col{
       float: left;
       color:black;
       list-style-type: none;
       margin: 0;
       padding: 0;
     }
     #reki2 {
       padding:0;
     }
   }
